body {
    margin: 100;
    padding: 20;
    font-family: Helvetica;
    background-color: rgb(175, 175, 175);
  }

  #collections-container {  
    background-color: white;
    color: red;
    font-family: Helvetica;
    display: inline-flex;
    border: 2px solid black;
    padding: 10px;
    border-left: 2px solid black;
    padding-left: 10px;
    
  }

  #renderLi { 
    
  }

  #items-container {  
    background-color: white;
    color: red;
    font-family: Helvetica;
    display: inline-flex;
    border: 2px solid black;
    padding: 10px;
    border-left: 2px solid black;
    padding-left: 10px;
    
  }
  
  header {
    margin: 0 auto;
    height: 50px;
    background-color: white;
    border: 2px solid black;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
    font-family: Helvetica;

  }
  
   main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  } 




